html {
    display: flex;
}

body {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    
}

header {
    background-color:beige;
    color: coral;
    font-style:oblique;
    display: flex;
    height: 3rem;
    position: relative;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    border-bottom: .1rem solid black;
}

.usuario {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    height: 3rem;
    width: 3rem;
}

h1 {
    font-size: 2rem;
    margin: 2rem;
    display: flex;
    justify-content: center;
}

ul {
    font-size: 1.6rem;
    padding: 1.4rem 2rem 1.5rem 1rem;
}

.subtitulo {
    text-decoration: underline 0.1rem;
}

.rodape {
    height: 4rem;
    width: 4rem;

}

.grafico {
    height: 7rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: space-between;
    position:relative;
    bottom: 0;
    padding-top: .8rem;
    border-top: .3rem solid black;
}