html {
    display: flex;
}

body {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

header {
    display: flex;
    height: 3rem;
    position: relative;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    border-bottom: .1rem solid black;
}

.titulo_menu {
    font-style: italic;
    padding-bottom: 3rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10rem
  }


.usuario {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    height: 3rem;
    width: 3rem;
}

h1 {
    font-size: 2rem;
}

footer {
    height: 4rem;
    width: 100%;
    background-color: #6b6969; 
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rodape {
    width: 3rem;
    height: 3rem;
}

.grafico {
    height: 3rem;
}